<template>
  <div>
    <input class="tgl tgl-light"
      type="checkbox"
      :id="name"
      :name="name"
      :checked="checked"
      v-on:change="onToggle" />
    <label class="tgl-btn"
      :for="name" /></label>
  </div>
</template>

<script>
export default {
  name: 'toggleButton',
  props: {
    checked: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      required: true
    }
  },
  methods: {
    onToggle () {
      Event.fire(`toggled-${this.name}`, !this.checked)
    }
  }
}
</script>

<style lang="scss">
.tgl {
  display: none;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

// themes
.tgl-light {
  + .tgl-btn {
    border: 2px solid $light-border;
    border-radius: 2em;
    padding: 0;
    transition: all .4s ease;
    &:after {
      border-radius: 50%;
      background: $white;
      transition: all .2s ease;
    }
  }

  &:checked + .tgl-btn {
    border-color: transparent;
    background: $green;
  }
}
</style>
