<template>
  <div class="flash" :class="[visible, type]">
    <div class="message">{{ message }}</div>
    <i class="ion-ios-close dismiss" @click="dismiss"></i>
  </div>
</template>

<script>
export default {
  name: 'flash',
  data () {
    return {
      message: '',
      type: '',
      timeout: null,
      isVisible: false
    }
  },
  computed: {
    visible () {
      return this.isVisible ? 'is-visible' : ''
    }
  },
  methods: {
    flash ({message, type = '', time = 5000}) {
      this.message = message
      this.type = type
      this.isVisible = true
      if (time) {
        clearTimeout(this.timeout)
        this.timeout = setTimeout(this.dismiss, time)
      }
    },
    dismiss () {
      this.isVisible = false
      clearTimeout(this.timeout)
    }
  },
  mounted () {
    Event.listen('flash', this.flash)
  }
}
</script>

<style lang="scss" scoped>
.flash {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  position: absolute;
  margin-left: 15px;
  color: $white;
  background-color: $blue;
  height: 0;
  min-height: 0;
  width: 100%;
  padding: 0 15px;
  margin: 0;
  overflow: hidden;
  transition: all 0.075s ease-in;

  &.is-visible {
    height: $header-height;
    min-height: $header-height;
  }

  &.success {
    background-color: $green;
  }

  &.error {
    background-color: $red;
  }

  &.warning {
    background-color: $orange;
  }
}

.message {
  flex: 1 1 auto;
}

.dismiss {
  flex: 0 0 auto;
  text-align: right;
  font-size: $x-large;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    color: rgba($white, 0.7);
  }
}

@media (max-width: $mobile) {
  .flash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 9;
  }
}
</style>
