<template>
  <div class="settings">
    <h1>Settings</h1>
    <form v-on:change="saveSettings">
      <div class="section-title">Notifications</div>
      <div class="setting">
        <label class="left">Phone</label>
        <input class="right"
          type="text"
          name="phone"
          v-model="settings.phone"
          placeholder="+18885557777" />
      </div>
      <div class="setting">
        <label class="left">Request accepted</label>
        <div class="right">
          <toggle-button
            :checked="settings.accepted"
            :name="'accepted'" />
        </div>
      </div>
      <div class="setting">
        <label class="left">Request up next</label>
        <div class="right">
          <toggle-button
            :checked="settings.next"
            :name="'next'" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import ToggleButton from './shared/ToggleButton'

const SETTINGS_KEY = 'queuedj:settings'

export default {
  name: 'guestSettings',
  data () {
    return {
      settings: {
        phone: '',
        accepted: false,
        next: false
      }
    }
  },
  methods: {
    loadSettings () {
      const settings = localStorage.getItem(SETTINGS_KEY)
      if (settings) {
        this.settings = JSON.parse(settings)
        Event.fire('updateSettings', this.settings)
      }
    },
    saveSettings () {
      localStorage.setItem(SETTINGS_KEY, JSON.stringify(this.settings))
      Event.fire('updateSettings', this.settings)
    },
    toggleSetting (setting, val) {
      this.settings[setting] = val
    }
  },
  mounted () {
    Event.listen('toggled-accepted', this.toggleSetting.bind(this, 'accepted'))
    Event.listen('toggled-next', this.toggleSetting.bind(this, 'next'))
    this.loadSettings()
  },
  components: {
    'toggle-button': ToggleButton
  }
}
</script>

<style lang="scss" scoped>

label {
  color: $sand;
  margin: $padding-sm 0;
  font-weight: 100;
}

input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  padding: $padding-sm 0;
}

.section-title {
  color: $white;
  padding: 5px 0;
  border-bottom: 1px solid $light-border;
}

.settings {
  background: linear-gradient(rgba($light-black, 0.9) 0%, rgba($black, 0.9) 25%);
  color: $white;
  font-size: $medium;
  position: absolute;
  top: -$padding;
  bottom: 0;
  left: 0;
  right: 0;
  padding: ($padding-lg + $padding) $padding $padding;
  z-index: 1;

  &.settings-enter-active, &.settings-leave-active {
    transition: all 0.25s ease-out;
  }

  &.settings-enter, &.settings-leave-to {
    opacity: 0;
    top: 0;
    bottom: -$padding;
  }
}

.setting {
  display: flex;
  align-items: center;
  margin: 0 0 $padding;
  min-height: 50px;

  .left {
    flex: 1 1 auto;
  }

  .right {
    flex: 0 0 auto;
    text-align: right;
  }
}

.button {
  background: transparent;
  border: 2px solid $light-border;
  color: $sand;

  &.dismiss {
    position: absolute;
    bottom: $padding-lg;
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
