<template>
  <div class="now-playing">
    <div class="background"
      :class="{ blurred: showingSettings }"
      :style="{ 'background-image': backgroundStyle }"></div>
    <div class="dev" v-if="isDev">
      <i class="ion-ios-disc" title="Set yourself as host" @click="setHost"></i>
      <i class="ion-ios-contacts" title="Clear yourself as host" @click="clearHost"></i>
      <i class="ion-ios-refresh-circle" title="Auto-populate queue" @click="reset"></i>
      <i class="ion-ios-close-circle" title="Clear queue" @click="clear"></i>
    </div>
    <div class="info"
      v-if="playing">
      <div class="album-img" v-if="isHost">
        <img
          :alt="playing.title"
          :src="artwork" />
      </div>
      <div class="info-meta">
        <div class="info-name">
          {{ playing.title }}
        </div>
        <div class="info-artist"
          :style="{
            color: isHost ? '#c8c8c8' : highlightColor
            }">
          {{ playing.user.username }}
        </div>
      </div>
      <div class="info-listeners"
        v-if="isHost">
        Listeners
        <div>{{ userCount }}</div>
      </div>
    </div>
    <div class="song-progress">
      <div class="song-complete"
        :style="{
          width: progressWidth,
          transition: progressTrans,
          'background-color': highlightColor
        }" />
    </div>
    <transition name="settings">
      <guest-settings
        v-if="!isHost && showingSettings" />
    </transition>
  </div>
</template>

<script>
import Vibrant from 'node-vibrant'
import defaultArtwork from '../assets/img/note.png'

import GuestSettings from './GuestSettings'

export default {
  name: 'nowPlaying',
  props: ['playing', 'isHost', 'showingSettings', 'status', 'userCount'],
  components: {
    'guest-settings': GuestSettings
  },
  data () {
    return {
      init: true,
      defaultColor: '#ff9800',
      highlightColor: '#ff9800',
      resetProgress: false,
      defaultImage: defaultArtwork,
      backgroundVersion: 0,
      isBlurred: false,
      progressWidth: 0,
      progressTrans: 'none',
      env: process.env.NODE_ENV
    }
  },
  computed: {
    currentSong: function () {
      return this.queue ? this.queue[0] : this.default
    },
    isDev: function () {
      return this.env === 'development'
    },
    artwork: function () {
      return this.playing && this.playing.artworkUrl ? this.playing.artworkUrl.replace('large', 't300x300') : this.defaultImage
    },
    backgroundUrl: function () {
      return this.playing && this.playing.artworkUrl
          ? this.playing.artworkUrl.replace('large', 't500x500')
          : `https://unsplash.it/g/600/600/?random&v=${this.backgroundVersion}`
    },
    backgroundStyle: function () {
      if (!this.isHost) {
        return `
          linear-gradient(rgba(0,0,0,0.2) 0, rgba(0,0,0,0.8) 70%),
          url(${this.backgroundUrl})
        `
      }

      return `
        radial-gradient(50% 100%, rgba(0,0,0,0.6) 50%, #000000 100%), url("https://unsplash.it/g/1200/300/?random&v=${this.backgroundVersion}")
      `
    }
  },
  methods: {
    clear () {
      Event.fire('clearQueue')
    },
    reset () {
      Event.fire('resetQueue')
    },
    clearHost () {
      Event.fire('setHost', false)
    },
    setHost () {
      Event.fire('setHost', true)
    },
    updateProgress (status) {
      if (this.init) {
        this.status.isPlaying = false
        this.init = false
      }

      this.resetProgress = true
      this.$nextTick(() => {
        const { start, duration, isPlaying } = status
        this.progressTrans = `width ${isPlaying ? duration - start : 0}ms linear`
        this.progressWidth = `${isPlaying ? 100 : (start / duration) * 100}%`
        this.resetProgress = false
      })
    }
  },
  watch: {
    status: 'updateProgress',
    backgroundUrl (imgUrl) {
      Vibrant.from(imgUrl)
        .getPalette((err, palette) => {
          this.highlightColor = err || !palette.Vibrant ? this.defaultColor : palette.Vibrant.getHex()
        })
    }
  },
  mounted () {
    Event.listen('changeBackground', () => {
      this.backgroundVersion += 1
    })
  }
}
</script>

<style lang="scss" scoped>


.dev {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  i {
    padding: 0 10px;
    color: $sand;
    font-size: $large;
    cursor: pointer;
  }
}

.now-playing {
  height: 320px;
  border-bottom: 1px solid $light-black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(50% 100%, rgba(0,0,0,0.6) 50%, #000000 100%), url("https://unsplash.it/g/1200/900/?random");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .info {
    padding: $padding;
    z-index: 1;
    margin-top: $margin-xl * 1.3;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    overflow: hidden;

    &-meta {
      overflow: hidden;
      flex: 1 1 auto;
    }

    &-type {
      color: $grey;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
    }

    &-name {
      color: $white;
      font-size: $xx-large;
      font-weight: 100;
      padding: 0 0 $padding;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-artist {
      color: $sand;
      font-size: $medium;
    }

    &-listeners {
      flex: 0 0 auto;
      text-align: right;
      text-transform: uppercase;
      color: $sand;
      font-size: $x-small;
      font-weight: 300;
      letter-spacing: 0.1rem;
    }
  }

  .album-img {
    margin-right: $margin;

    img {
      background-color: $dark-black;
      width: 150px;
      height: 150px;
      border-radius: 0;
    }
  }

  .song-progress {
    display: none;
  }
}

.is-guest {
  .now-playing {
    height: 100%;
    align-items: center;
    background-image: radial-gradient(at 90% 90%, rgba($orange, 0.15) 0, $black 50%);

    .info {
      &-meta {
        text-align: center;
      }

      &-name {
        white-space: normal;
      }
    }

    .song-progress {
      position: absolute;
      display: block;
      height: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      background-color: rgba($white, 0.15);
    }

    .song-complete {
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      width: 0%;
      background-color: rgba($orange, 0.6);
    }
  }
}

@media (max-width: $mobile) {
  .now-playing {
    height: auto;
    justify-content: flex-end;

    .dev {
      top: 50px;
    }

    .info {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      text-align: center;
      justify-content: flex-end;
      flex: 0 0 auto;

      &-name {
        white-space: normal;
      }

      &-artist {
        color: $sand;
        font-size: $medium;
        font-weight: 500;
      }

      &-listeners {
        display: none;
      }
    }

    .album-img {
      margin-right: 0;
    }
  }

  .is-guest {
    .now-playing {
      justify-content: flex-end;

      .info {
        margin: 0 0 15%;

        &-name {
          font-size: $xx-large;
          font-weight: 900;
        }

        &-artist {
          color: $orange;
          font-size: $medium;
          font-weight: 500;
        }
      }
    }

    .album-img {
      margin-bottom: 20px;

      img {
        height: 300px;
        width: 300px;
        border-radius: 0;
      }
    }
  }
}
</style>
