<template>
  <section class="current-track">
    <div class="controls">
      <div class="actions">
        <a class="ion-ios-infinite-outline"></a>
        <a @click="prev(current.streamUrl)" class="ion-ios-skip-backward"></a>
        <a @click="play(current.streamUrl)" :class="[playingClass, 'play']"></a>
        <a @click="next(nextSong.streamUrl)" class="ion-ios-skip-forward"></a>
        <a @click="shufflePause" class="ion-ios-shuffle"></a>
      </div>

      <div class="song-progress">
        <div class="start">
          {{ elapsedSongTime }}
        </div>
        <div class="bar">
          <div id="song-progress"
            :disabled="this.current.streamUrl === ''">
          </div>
        </div>
        <div class="finish">
          {{ totalSongTime }}
        </div>
      </div>
    </div>

    <div class="options">
      <div class="volume">
        <!--<i :class="groupClass"
          @click="toggleGroupMode"></i>-->
        <i class="ion-ios-volume-up"></i>
        <div id="song-volume"></div>
      </div>
    </div>

  </section>
</template>

<script>
import _ from 'lodash'
import Vue from 'vue'
import sc from '../services/soundcloud'
import noUiSlider from 'nouislider'

export default {
  name: 'playBar',
  props: ['queue', 'isGroupMode', 'userCount'],
  data () {
    return {
      isPlaying: false,
      elapsedSongTime: '0:00',
      group: this.isGroupMode
    }
  },
  methods: {
    play: function (streamUrl) {
      if (streamUrl === '') return
      if (!this.isPlaying) sc.streamSong(streamUrl)
      this.updatePlaying(!this.isPlaying)
      this.seconds = sc.getSeconds()
      this.$ga.trackEvent('user_interaction', this.isPlaying ? 'play_song' : 'pause_song')
    },
    next: function (songUrl) {
      Event.fire('removeSong', 0)
      this.updatePlaying(false)
      sc.stopSong()

      // Hack untill a better solution is discovered
      setTimeout(() => {
        if (songUrl) {
          sc.streamSong(songUrl)
          this.updatePlaying(true)
        }
        this.$ga.trackEvent('user_interaction', 'next_song')
      }, 100)
    },
    prev: function (streamUrl) {
      this.updatePlaying(false)
      sc.stopSong()

      // Hack untill a better solution is discovered
      setTimeout(() => {
        sc.streamSong(streamUrl)
        this.updatePlaying(true)
        this.$ga.trackEvent('user_interaction', 'prev_song')
      }, 100)
    },
    updatePlaying: function (newState) {
      this.isPlaying = newState
      if (!this.isPlaying) sc.pauseSong()
    },
    getTime: (duration) => {
      if (typeof duration !== 'number') return '-:--'
      const totalSecs = duration * 0.001
      const hrs = Math.floor(totalSecs / 3600)
      const mins = Math.floor((totalSecs % 3600) / 60)
      const secs = Math.floor(totalSecs % 60)
      return `${hrs > 0 ? hrs + ':' : ''}${mins < 10 && hrs > 0 ? '0' : ''}${mins}:${secs < 10 ? '0' : ''}${secs}`
    },
    shuffle: function (queueCopy) {
      Event.fire('clearQueue')
      while (queueCopy.length !== 0) {
        Event.fire('addSong', queueCopy.splice(Math.random() * queueCopy.length, 1)[0])
      }
      this.$ga.trackEvent('user_interaction', 'shuffle_queue')
    },
    shufflePause: function () {
      if (this.isPlaying) sc.stopSong()
      this.updatePlaying(false)
      this.shuffle(this.queue)
    },
    toggleGroupMode: function () {
      Event.fire('setGroupMode', !this.isGroupMode)
      this.$ga.trackEvent('user_interaction', this.isGroupMode ? 'group_mode_enabled' : 'group_mode_disabled')
    },
    status () {
      const currentTime = sc.getSeconds() * 1000
      return {
        start: currentTime,
        duration: this.current.duration || 1,
        isPlaying: this.isPlaying
      }
    },
    updateStatus: function () {
      Event.fire('updateStatus', this.status())
    }
  },
  computed: {
    current () {
      return this.queue.length > 0 ? this.queue[0] : {streamUrl: ''}
    },
    nextSong () {
      Event.fire('changeBackground')
      return this.queue.length > 1 ? this.queue[1] : {streamUrl: ''}
    },
    totalSongTime () {
      return this.getTime(this.current.duration)
    },
    playingClass () {
      return this.isPlaying ? 'ion-ios-pause' : 'ion-ios-play'
    },
    groupClass () {
      return this.isGroupMode ? 'ion-ios-people' : 'ion-ios-people-outline'
    }
  },
  watch: {
    current: 'updateStatus',
    isPlaying: 'updateStatus',
    userCount: 'updateStatus'
  },
  mounted () {
    let songSlider
    let volumeSlider

    sc.loadSong(this.current.streamUrl)

    setInterval(() => {
      const miliseconds = sc.getSeconds() * 1000
      this.elapsedSongTime = this.getTime(miliseconds)
      let progress = this.current.duration ? miliseconds / this.current.duration * 100 : 0
      if (this.elapsedSongTime === this.totalSongTime) {
        this.next(this.nextSong.streamUrl)
      }
      songSlider.noUiSlider.set(progress)
    }, 100)

    songSlider = document.getElementById('song-progress')
    noUiSlider.create(songSlider, {
      animate: false,
      animationDuration: 300,
      start: 0,
      connect: [true, false],
      range: {
        'min': [0],
        'max': [100]
      }
    })

    songSlider.noUiSlider.on('slide', () => {
      if (this.current.duration) {
        this.isPlaying = false
        sc.changeTime((songSlider.noUiSlider.get() / 100) * this.current.duration * 0.001)
        Vue.nextTick(_.debounce(() => {
          this.isPlaying = true
          Event.fire('updateStatus', this.status())
        }), 100)
      }
    })

    volumeSlider = document.getElementById('song-volume')
    noUiSlider.create(volumeSlider, {
      start: 90,
      connect: [true, false],
      range: {
        'min': [0],
        'max': [100]
      }
    })

    volumeSlider.noUiSlider.on('update', function () {
      sc.changeVolume(volumeSlider.noUiSlider.get() / 100)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.current-track {
  flex: 0 0 auto;
  background: $toolbar-bg;
  padding: $padding-xs $padding;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .controls {
    width: 70%;
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
      margin: 5px;
      padding: 5px;
      font-size: $large;
      color: $sand;

      &:hover {
        color: $white;
        cursor: pointer;
      }
    }

    .play {
      font-size: $x-large;
      height: 40px;
      width: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
      border: 1.5px solid $sand;
      border-radius: 50%;

      &.ion-ios-play {
        padding-left: 3px;
      }
    }
  }

  .song-progress {
    background: transparent;
    width: 100%;
    padding: 0 $padding-lg;
    color: $grey;
    font-size: $x-small;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    .bar {
      width: 100%;
      padding: 0 $padding;

      .noUi-target {
        border: none;
        background: none;
        box-shadow: none;
        height: 4px;
      }

      .noUi-base {
        background: darken($grey , 30%);
        border-radius: 2px;
      }

      .noUi-connect {
        background: $orange;
        border-radius: 2px;
        box-shadow: none;
      }

      .noUi-handle {
        background: $sand;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: none;
        border: none;
        left: 0;
        display: none;

        &:after,
        &:before {
          background: none;
        }
      }
    }

    &:hover {
      .noUi-handle {
        display: block;
      }
    }
  }

  .options {
    width: 30%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $x-large;
    margin-left: auto;
    align-items: center;
  }

  .volume {
    width: 80%;
    max-width: 200px;
    margin-left: auto;
    display: flex;
    align-items: center;

    i {
      flex: 0 0 auto;
      width: 20px;
      color: $grey;
      font-size: $medium + 4px;
      margin-right: $padding-sm;

      &:hover {
        color: $white;
        cursor: pointer;
      }
    }

    #song-volume {
      flex: 1 1 auto;
      border: none;
      height: 4px;

      &.noUi-target {
        border: none;
        background: none;
        box-shadow: none;
        height: 4px;
      }

      .noUi-base {
        background: darken($grey , 30%);
        border-radius: 2px;
      }

      .noUi-connect {
        background: $sand;
        border-radius: 2px;
        box-shadow: none;
      }

      .noUi-handle {
        background: $sand;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: none;
        border: none;
        left: 0;
        display: none;

        &:after,
        &:before {
          background: none;
        }
      }

      &:hover {
        .noUi-handle {
          display: block;
        }
      }
    }
  }

}

@media (max-width: $tablet) {
  .current-track {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .controls {
      width: 100%;
    }

    .options {
      display: none;
    }
  }
}
</style>
