<template>
<div class="queue-list">
  <div class="tracks">
    <div class="tracks__heading">
      <div class="tracks__heading__number"></div>
      <div class="tracks__heading__title">Song</div>
      <div class="tracks__heading__length">
        <i class="ion-ios-stopwatch-outline"></i>
      </div>
    </div>
    <draggable
      class="list"
      v-model="localQueue"
      :element="'ul'"
      :options="{
        group: 'tracks'
      }">
      <li class="track"
        v-for="(track, index) in localQueue"
        :key="track.id">
        <div class="track__number" @click="removeSong(index)">{{ index + 1 }}</div>
        <div class="track__title">{{ track.title }}</div>
        <div class="track__length">{{ getTime(track.duration) }}</div>
      </li>
      <li class="text-center" v-show="localQueue.length === 0">
        Your queue is empty
      </li>
    </draggable>
  </div>
    <div class="add-songs"
      v-if="queue.length < 1">
      <button type="button"
        v-if="!loadingSongs"
        @click="addTopSongs">
        Get the Party Started!
      </button>
      <loading v-if="loadingSongs" />
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import draggable from 'vuedraggable'
import tw from '../services/twilio'
import sc from '../services/soundcloud'
import Loading from './Loading'

export default {
  name: 'queueList',
  props: ['queue', 'status'],
  data () {
    return {
      nextTrack: { id: null },
      loadingSongs: false
    }
  },
  components: {
    draggable,
    'loading': Loading
  },
  computed: {
    localQueue: {
      get () {
        console.log('Getting', this.queue)
        return this.queue
      },
      set (newQueue) {
        console.log(newQueue)
        Event.fire('updateQueue', newQueue)
      }
    },
    nextSong: function () {
      Event.fire('changeBackground')
      return this.queue.length > 1 ? this.queue[1] : {streamUrl: ''}
    }
  },
  watch: {
    localQueue (qNew, qOld) {
      // Conditions to send an NEXT notifications
      if (qNew.length > 1 && this.nextTrack.id !== qNew[1].id) {
        this.nextTrack = qNew[1]
        const { nextIds } = this.nextTrack
        if (nextIds && nextIds.length > 0) tw.upNext(this.$route.params.room, nextIds)
      }

      // Conditions to send ACCEPTED notifications
      if (qNew.length > qOld.length) {
        const newTrack = _.differenceBy(qNew, qOld, 'id').pop()
        if (!newTrack) return

        const { acceptedIds } = newTrack
        if (acceptedIds && acceptedIds.length > 0) tw.requestAccepted(this.$route.params.room, acceptedIds)
      }
    }
  },
  methods: {
    getTime: (duration) => {
      if (typeof duration !== 'number') return '-:--'
      const totalSecs = duration * 0.001
      const hrs = Math.floor(totalSecs / 3600)
      const mins = Math.floor((totalSecs % 3600) / 60)
      const secs = Math.floor(totalSecs % 60)
      return `${hrs > 0 ? hrs + ':' : ''}${mins < 10 && hrs > 0 ? '0' : ''}${mins}:${secs < 10 ? '0' : ''}${secs}`
    },
    removeSong: function (index) {
      Event.fire('removeSong', index)
      if (index === 0) {
        sc.stopSong()
        if (this.nextSong && this.status.isPlaying) {
          sc.streamSong(this.nextSong.streamUrl)
        }
      }
      this.$ga.trackEvent('user_interaction', 'queue_song_removed')
    },
    addTopSongs: function () {
      this.loadingSongs = true
      sc.getTopSongsOfGenre('all-music', 25).then((tracks) => {
        tracks = tracks.splice(0, 15)
        Event.fire('setQueue', tracks)
        Event.fire('flash', {
          message: 'Trending songs from SoundCloud were added!'
        })
        this.loadingSongs = false
      })
      this.$ga.trackEvent('user_interaction', 'default_songs_added')
    }
  }
}
</script>

<style lang="scss">
// Queue List
.queue-list {
  padding: $padding;
}

.add-songs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

// Tracks
.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: $margin;

  &__heading {
    color: $grey;
    height: 42px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &__number {
      margin-left: $margin-sm;
    }

    &__title {
      margin-left: 40px;
      width: 45%;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__length {
      margin-left: auto;
      margin-right: $margin-sm;
      font-size: $large;
    }
  }

  .list {
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .track {
    position: relative;
    border-top: 1px solid $light-black;
    height: 42px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:hover {
      background: $light-black;
      &::before {
        content: '\f406';
        font-family: 'Ionicons';
        position: absolute;
        padding: 0 10px;
        font-size: 26px;
        line-height: 42px;
        color: $grey
      }

      .track__number {
        opacity: 0;
        cursor: pointer;
      }
    }

    &:last-child {
      border-bottom: 1px solid $light-black;
    }

    &__number {
      margin-left: $margin-sm;
      color: $grey;
      width: 12px;
    }

    &__title {
      width: 45%;
      margin-left: $margin * 2;
      color: $white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__length {
      margin-left: auto;
      padding-left: 10px;
      margin-right: $margin-sm;
      color: $grey;
    }
  }
}
@media (max-width: $desktop) {
  .tracks {
    &__heading {
      &__title {
        width: auto;
      }
    }

    .track {
      &__title {
        width: auto !important;
      }
    }
  }
}
</style>
