<template>
  <div class="request-list">
    <div class="section-title">Requests</div>
    <draggable
      class="requests"
      v-model="localRequests"
      :element="'ul'"
      :options="{
        group: {
          name: 'tracks',
          pull: true,
          put: false
        }
      }">
      <li class="request"
        v-for="(request,index) in requests"
        :key="index">
        <img class="artwork"
          :src="request.artworkUrl || defaultImage"
          :alt="request.title">
        <div class="info">
          <div class="song"
            :title="request.title">
            {{ request.title }}
          </div>
          {{ request.user.username }}
        </div>
        <div class="actions">
          <button type="button"
            name="add"
            class="actions-btn add"
            @click="addSong(request, index)">
            <i class="ion-ios-add"></i>
          </button>
          <button type="button"
            name="remove"
            class="actions-btn remove"
            @click="removeRequest(index)">
            <i class="ion-ios-close"></i>
          </button>
        </div>
      </li>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import defaultImage from '../assets/img/note.png'

export default {
  name: 'requestList',
  props: ['requests'],
  components: {
    draggable
  },
  data () {
    return {
      defaultImage
    }
  },
  computed: {
    localRequests: {
      get () {
        return this.requests
      },
      set (newRequests) {
        Event.fire('updateRequests', newRequests)
      }
    }
  },
  methods: {
    addSong (song, index) {
      this.removeRequest(index)
      Event.fire('addSong', song)
    },
    removeRequest (index) {
      Event.fire('removeRequest', index)
      this.$ga.trackEvent('user_interaction', 'request_removed')
    }
  }
}
</script>

<style lang="scss">
.request-list {
  background-color: $dark-black;
  padding: $padding;
  overflow-y: auto;
  flex: 1 1 auto;
}

.requests {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: $margin;
  padding: 0;

  li {
    padding: $padding 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      padding-top: 0;
    }

    .artwork {
      background-color: $dark-black;
      flex: 0 0 auto;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid $light-border;
    }

    .info {
      flex: 1 1 auto;
      overflow: hidden;
    }

    .song {
      color: $white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .actions {
      flex: 0 0 auto;
      display: flex;
      margin-left: 10px;

      &-btn {
        background-color: transparent;
        border: 1px solid $light-border;
        margin: 0 5px;
        padding: 0 0 0 1px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: $large;
        transition: all 0.1s linear;

        &:hover {
          color: $sand;
          border-color: $sand;
        }

         &.add {
          background-color: $light-border;
          color: $sand;

          &:hover {
            background-color: rgba($orange, 0.4);
            border-color: $light-border;
          }
        }

        &.remove {
          background-color: $light-border;
          color: $sand;

          &:hover {
            background-color: rgba($orange, 0.4);
            border-color: $light-border;
          }
        }
      }
    }
  }
}
</style>
