<template>
  <div class="search">

    <div class="options"
      v-if="!expandSearch">
      <i :class="['ion-ios-search']"
        v-show="!showingSettings"
        @click="toggleSearch(true)" />
      <div class="room-name"
        v-show="!showingSettings">
        {{ $route.params.room }}
      </div>
      <i v-if="!isHost"
        :class="['settings-btn', settingsClass]"
        @click="toggleSettings" />
    </div>

    <transition name="fade">
      <input type="text"
        ref="mobileSongSearch"
        placeholder="Search"
        class="search-mobile"
        v-model="query"
        v-show="expandSearch"
        @keyup="searchSongs"
        @focus="showResults = true"
        @blur="toggleSearch(false)" />
    </transition>

    <input type="text"
      placeholder="Search"
      ref="songSearch"
      class="search-desktop"
      v-model="query"
      @keyup="searchSongs"
      @focus="showResults = true"
      @blur="toggleSearch(false)" />

    <ul v-show="query != '' && showResults" @click="showResults = false" class="results">
      <li v-for="result in results" @click="add(result)" class="result">{{ result.title }}</li>
    </ul>
  </div>
</template>

<script>
import sc from '../services/soundcloud'
import _ from 'lodash'

export default {
  name: 'searchBar',
  props: ['isHost', 'showingSettings'],
  data () {
    return {
      query: '',
      expandSearch: false,
      lastQuery: null,
      showResults: false,
      results: [{ title: 'Loading ...' }]
    }
  },
  computed: {
    settingsClass () {
      return `ion-ios-${this.showingSettings ? 'close' : 'more'}`
    },
    vanishOnSetting () {
      return this.showingSettings ? 'vanish' : ''
    }
  },
  methods: {
    toggleSearch: function (isShown) {
      this.expandSearch = isShown
      if (isShown) this.$refs.mobileSongSearch.focus()
    },
    toggleSettings () {
      Event.fire('toggleSettings', !this.showingSettings)
    },
    searchSongs: _.debounce(function () {
      if (this.query === '' || this.query === this.lastQuery) return
      sc.search(this.query).then((data) => {
        this.results = data.length > 0 ? data : [{title: 'No Results'}]
      })
    }, 500),
    add: function (song) {
      const action = this.isHost ? 'addSong' : 'addRequest'
      this.query = ''
      Event.fire(action, song)
      this.$ga.trackEvent('user_interaction', 'song_requested')
    }
  }
}
</script>

<style lang="scss">
.search {
  position: relative;
  margin-left: 15px;

  input {
    border-radius: $border-radius;
    border: none;
    background: $white;
    color: $black;
    padding: 2px 5px;
    padding-left: $padding-lg;
    outline: none;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 5px;
  }

  .results {
    position: absolute;
    list-style: none;
    margin: 5px 0;
    padding: 8px 3px;
    left: 0;
    right: -50%;
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 4px;
    background-color: $light-black;
    color: $white;
    box-shadow:  0 0 1px 1px $drop-shadow;
    z-index: 2;

    &::after {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  .result {
    padding: 10px 8px;
    margin: 0 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $light-border;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      background-color: rgba(255,255,255, 0.2);
      border-bottom: 1px solid transparent;
    }

    &:last-of-type {
      border-bottom: 1px solid transparent;
    }
  }

  .options,
  .search-mobile {
    display: none;
  }
}
@media (max-width: $mobile) {
  .search {
    width: 100%;
    margin: 0;

    .search-mobile {
      display: block;
      position: fixed;
      background-size: $large;
      font-size: $medium;
      top: 8px;
      left: $padding;
      width: calc(100% - 30px);

      &.fade-enter-active, &.fade-leave-active {
        transition: all 0.25s ease-out;
      }

      &.fade-enter, &.fade-leave-to {
        opacity: 0;
      }
    }

    .search-desktop {
      display: none;
    }

    .results {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      max-height: none;
      padding: 50px 0 0;
      z-index: -1;
      border-radius: 0;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $white;
      padding: 0 $padding-sm;
      opacity: 1;
      transition: all 0.2s ease-in;

      .room-name {
        font-size: $medium;
        flex: 1 1 auto;
      }

      i {
        display: block;
        flex: 0 0 auto;
        font-size: $x-large + 4px;
        line-height: $medium;
        cursor: pointer;
      }

      .settings-btn {
        text-align: right;
      }

      .ion-ios-close {
        font-size: $x-large + 14px;
      }
    }
  }
}
</style>
