<template>
  <div class="progress">
    <div class="progress__filled"></div>
  </div>
</template>

<script>
export default {
  name: 'slider',
  data () {
    return {}
  }
}
</script>

<style lang="scss">
.progress {
  flex: 10 0 100%;
  position: relative;
  display: flex;
  height: 4px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: $orange;
  flex: 0;
  flex-basis: 0%;
}
</style>
