<template>
  <div class="request-list">
    <div class="section-title">Your Requests</div>
    <ul class="requests">
      <li class="empty"
        v-if="requests.length === 0">
        Search for a song first to make a request.
      </li>
      <li class="request"
        v-for="(request,index) in requests"
        :key="index">
        <img class="artwork"
          :src="request.artworkUrl || defaultImage"
          :alt="request.title">
        <div class="info">
          <div class="song"
            :title="request.title">
            {{ request.title }}
          </div>
          {{ request.user.username }}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import defaultImage from '../assets/img/note.png'

export default {
  name: 'yourRequests',
  props: ['requests'],
  data () {
    return {
      defaultImage
    }
  }
}
</script>

<style lang="scss">
.request-list {
  background-color: $dark-black;
  padding: $padding;
  overflow-y: auto;
  flex: 1 1 auto;
}

.requests {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: $margin;
  padding: 0;

  li {
    padding: $padding 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      padding-top: 0;
    }

    &.empty {
      display: block;
      margin-top: 30px;
      text-align: center;
    }

    .artwork {
      background-color: $dark-black;
      flex: 0 0 auto;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid $light-border;
    }

    .info {
      flex: 1 1 auto;
      overflow: hidden;
    }

    .song {
      color: $white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
