<template>
  <div class="app"
    :class="{ 'is-guest': !isHost }">
      <section class="header">
      <search-bar
        :is-host="isHost"
        :showing-settings="showingSettings" />
        <div class="copy-url">
        <div class="text">
          {{ roomUrl }}
        </div>
        <button class="copy"
          :data-clipboard-text="copyUrl">
          Copy link
        </button>
        <i :class="['header-icon', settingsIcon]"
          v-if="!isHost"
          @click="showingSettings = !showingSettings" />
      </div>
    </section>

    <flash />
   <section class="content"
      :class="{ blurred: !isOnline }">
      <div class="content-left">
        <div class="queue"
          :class="{ 'is-guest': !isHost }">
          <now-playing
            :playing="playing"
            :is-host="isHost"
            :showing-settings="showingSettings"
            :status="status"
            :user-count="userCount" />
          <queue-list
            v-if="isHost"
            :queue="queue"
            :status="status" />
        </div>
      </div>
      <div class="content-right">
        <request-list
          v-if="isHost"
          :requests="requests" />
        <your-requests
          v-if="!isHost"
          :requests="yourRequests" />
      </div>
    </section>
    <play-bar
      v-if="isHost"
      :class="{ blurred: !isOnline }"
      :queue="queue"
      :user-count="userCount"
      :is-group-mode="isGroupMode" />
  </div>
</template>

<script>
  import Flash from './components/Flash'
  import SearchBar from './components/SearchBar'
  import NowPlaying from './components/NowPlaying'
  import QueueList from './components/QueueList'
  import RequestList from './components/RequestList'
  import YourRequests from './components/YourRequests'
  import PlayBar from './components/PlayBar'
  import ToggleButton from './components/shared/ToggleButton'

  import fb from './services/firebase'
  import queueTestData from './data/queue-test'
  import clipboard from './services/copy'

  import 'offline-js'
  import 'roboto-fontface'

  const DEFAULT_STATUS = {
    start: 0,
    duration: 0,
    isPlaying: false
  }

  const DEFAULT_RESET = {
    hasHost: false,
    groupMode: false,
    status: DEFAULT_STATUS
  }

  export default {
    name: 'app',
    data () {
      return {
        status: DEFAULT_STATUS,
        userCount: 0,
        settings: {},
        queue: [],
        requests: [],
        yourRequests: [],
        isHost: false,
        showingSettings: false,
        isGroupMode: false,
        isOnline: true
      }
    },
    computed: {
      playing () {
        return this.queue[0] || null
      },
      queueRef () {
        return fb.db.ref(`room/${this.$route.params.room}/queue`)
      },
      requestsRef () {
        return fb.db.ref(`room/${this.$route.params.room}/requests`)
      },
      notiRef () {
        return fb.db.ref(`room/${this.$route.params.room}/notifications`)
      },
      roomRef () {
        return fb.db.ref(`room/${this.$route.params.room}`)
      },
      roomUrl () {
        return `queue.dj/${this.$route.params.room}`
      },
      copyUrl () {
        return `https://${this.roomUrl}`
      },
      settingsIcon () {
        return `ion-ios-${this.showingSettings ? 'close' : 'settings'}`
      }
    },
    components: {
      'search-bar': SearchBar,
      'flash': Flash,
      'now-playing': NowPlaying,
      'request-list': RequestList,
      'your-requests': YourRequests,
      'queue-list': QueueList,
      'play-bar': PlayBar,
      'toggle-button': ToggleButton
    },
    methods: {
      addSong (song) {
        this.queueRef.set([...this.queue, song])
      },
      removeSong (index) {
        this.queueRef.set([...this.queue.slice(0, index), ...this.queue.slice(index + 1)])
      },
      updateRequests (newRequests) {
        this.requestsRef.set(newRequests)
      },
      addRequest (song) {
        Event.fire('flash', {
          message: 'Your request has been sent!'
        })
        this.applySettings(song)
        this.yourRequests.unshift(song)
        this.requestsRef.set([...this.requests, song])
      },
      removeRequest (index) {
        this.requestsRef.set([...this.requests.slice(0, index), ...this.requests.slice(index + 1)])
      },
      updateQueue (newQueue) {
        this.queueRef.set(newQueue)
      },
      clearQueue () {
        this.queueRef.set([])
      },
      resetQueue () {
        this.queueRef.set(queueTestData)
      },
      setQueue (queue) {
        this.queueRef.set(queue)
      },
      setHost (isHost) {
        this.isHost = isHost
        this.roomRef.update({ hasHost: isHost })
        if (isHost) this.roomRef.onDisconnect().update(DEFAULT_RESET)
      },
      updateStatus (status) {
        this.roomRef.update({ status })
      },
      updateSettings (settings) {
        this.settings = settings
      },
      toggleSettings (showingSettings) {
        this.showingSettings = showingSettings
      },
      applySettings (song) {
        const { phone, accepted, next } = this.settings
        if (phone === '') return
        if (accepted) song.acceptedIds.push(this.notiRef.push(phone).key)
        if (next) song.nextIds.push(this.notiRef.push(phone).key)
      },
      addUser () {
        fb.db.ref(`room/${this.$route.params.room}/userCount`).transaction((count) => {
          count++
          return count
        })
      },
      registerUserRemoval (count) {
        count = count > 0 ? count : 1
        this.roomRef.onDisconnect().update({ userCount: count - 1 })
      },
      setGroupMode (groupMode) {
        this.isGroupMode = groupMode
        this.roomRef.update({ groupMode })
      }
    },
    mounted () {
      clipboard.on('success', function (e) {
        Event.fire('flash', { message: 'Room URL copied to Clipboard!' })
      })

      Offline.on('up', () => {
        Event.fire('flash', { message: 'You have been reconnected :)', type: 'success' })
        this.isOnline = true
      })

      Offline.on('down', () => {
        Event.fire('flash', { message: 'You have been disconnected :(', type: 'error', time: 0 })
        this.isOnline = false
      })
    },
    created () {
      // Status
      Event.listen('updateStatus', this.updateStatus)

      // Settings
      Event.listen('updateSettings', this.updateSettings)
      Event.listen('toggleSettings', this.toggleSettings)

      // Songs
      Event.listen('addSong', this.addSong)
      Event.listen('removeSong', this.removeSong)

      // Requests
      Event.listen('updateRequests', this.updateRequests)
      Event.listen('addRequest', this.addRequest)
      Event.listen('removeRequest', this.removeRequest)

      // Queue
      Event.listen('updateQueue', this.updateQueue)
      Event.listen('clearQueue', this.clearQueue)
      Event.listen('resetQueue', this.resetQueue)
      Event.listen('setQueue', this.setQueue)

      // Host
      Event.listen('setHost', this.setHost)
      Event.listen('setGroupMode', this.setGroupMode)

      this.roomRef.once('value').then((snapshot) => {
        if (!snapshot.val() || !snapshot.val().hasHost) this.setHost(true)
        if (!snapshot.val() || !snapshot.val().userCount) this.roomRef.update({ userCount: 0 })
      })

      // Bookkeeping
      this.addUser()

      this.roomRef.on('value', (snap) => {
        const { status, userCount } = snap.val()
        this.status = status || DEFAULT_STATUS
        this.userCount = userCount
        this.registerUserRemoval(userCount)
      })

      this.queueRef.on('value', (snap) => {
        const data = snap.val()
        this.queue = data || []
      })

      this.requestsRef.on('value', (snap) => {
        const data = snap.val()
        this.requests = data || []
      })
    }
  }
</script>

<style lang="scss">
.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.blurred {
  filter: blur(5px);
}

.header {
  position: relative;
  flex: 0 0 auto;
  height: $header-height;
  background: $light-black;
  padding: $padding-sm;
  color: $grey;
  border-bottom: 1px solid $black;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex: 1 1 auto;
  position: relative;

  &-left, &-right {
    display: flex;
    overflow: hidden;
  }

  &-left {
    flex: 0 1 70%;
  }

  &-right {
    flex: 1 0 30%;
  }
}

.copy-url {
  float: right;
  margin-left: auto;
  color: $white;
  white-space: nowrap;
  display: inline-flex;

  .text {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: $small + 2px;
    line-height: 26px;
    border-bottom: 1px solid $white;
    text-align: center;
    vertical-align: middle;
    margin-right: $small;
    max-width: 200px;
    text-overflow: clip;
    overflow: hidden;
    user-select: all;
  }
}

.copy-btn {
  background-color: $orange;
  vertical-align: middle;
  font-size: $small;
  border-radius: 4px;
  font-size: 12px;
}

.header-icon {
  position: relative;
  width: 20px;
  font-size: $medium;
  padding: 0 5px;
  margin-left: 5px;
  line-height: 27px;
  color: $sand;
  cursor: pointer;

  &:hover {
    color: $white;
  }

  &.ion-ios-close {
    font-size: 27px;
    line-height: $medium;
  }
}

.queue {
  width: 100%;
  overflow-y: auto;
}

@media (max-width: $mobile) {
  .app {
    height: auto;
  }

  .copy-url {
    display: none;
  }

  .header {
    height: $header-height;
    position: fixed;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .content {
    &-left {
      flex: 1 1 100%;
    }

    &-right {
      display: none;
    }
  }

  .queue {
    height: 100vh;
    padding-bottom: 200px;
  }

  .is-guest {
    .header {
      background-color: transparent;
    }

    .queue {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 0;
    }
  }
}
</style>
