<template>
  <div class="site">

    <!-- Splash -->
    <div class="splash">
      <div class="container">
        <!-- Nav -->
        <div class="navbar">
          <div class="logo">queue.dj</div>
          <ul class="menu">
            <li class="menu-item"><a class="menu-link" href="#about">About</a></li>
            <li class="menu-item"><a class="menu-link" href="#faq">FAQ</a></li>
          </ul>
        </div>

        <div class="create-room row">

         <div class="col-sm-6 col-xs-12 tag">
            <h1 class="tag-main">DJ with confidence.</h1>
            <h3 class="tag-sub">No logins, no configuration, and more time to party</h3>
          </div>

          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
            <form class="demo-box"
              @submit.prevent="startParty">
              <div class="demo-text">
                Create a room link to start partying
              </div>
              <div class="demo-link">
                queue.dj /
                <div class="input-wrapper"
                  @click="hideAndFocus">
                  <div class="typed-wrapper"
                    v-show="showTyped && showCreateMsg">
                    <span class="typed"></span>
                  </div>
                  <input type="text"
                    name="demo-link"
                    class="input-link"
                    autocapitalize="none"
                    v-model="roomName"
                    :placeholder="demoInfo[demoState].placeholder">
                </div>
              </div>
              <button type="submit" class="btn party-btn">Party 🎧</button>
              <div class="demo-info">
                {{ demoInfo[demoState].message }}
                <a href="#" @click.prevent="showCreateMsg = !showCreateMsg">{{ demoInfo[demoState].link }}</a>
              </div>
            </form>
          </div>

        </div>
        <!-- End row -->

      </div>
    </div>
    <!-- End header -->

    <div class="container main">
      <div class="how row">
        <h1 class="text-center">How it works</h1>
        <div class="how-step col-md-4">
          <i class="ion-ios-home"></i>
          <h3>Create a room link</h3>
          <p>It can be whatever you want (like the name of the event or something easy to remember).</p>
        </div>

        <div class="how-step col-md-4">
          <i class="ion-ios-link"></i>
          <h3>Share the link</h3>
          <p>By email, chat, or even a poster in the party room. However you'd like really.</p>
        </div>

        <div class="how-step col-md-4">
          <i class="ion-ios-musical-notes"></i>
          <h3>... get the party started!</h3>
          <p>Guests join instantly in the browser by visiting the link.</p>
        </div>
      </div>

      <div class="dope row">
        <h1 class="text-center">Why is this awesome</h1>
        <div class="col-md-6 text-center">
          <div class="iphone-demo"></div>
        </div>

        <div class="col-md-5">
          <ul class="dope-list">
            <li>
              <p>
              <strong>No signup or downloads</strong>
              <br>
              Guests don't have to register to join. Just send them the room link to join in the browser.
              </p>
            </li>
            <li>
              <p>
              <strong>Play to your audience</strong>
              <br>
              Get instant feedback from your audience to how you're doing as the DJ.
              </p>
            </li>
            <li>
              <p>
              <strong>Queue it up</strong>
              <br>
              Use requests from your audience to create the perfect queue for your party.
              </p>
            </li>
            <li>
              <p>
              <strong>Join from any device</strong>
              <br>
              Get everyone involved, no matter what kinda phone they be using.
              </p>
            </li>
          </ul>
        </div>

      </div>

      <!--<div class="row text-center">
        <h1>What the crowd is saying...</h1>
        <div class="quote">I've been using queue.dj for all of my house parties and DJ gigs (lots of people). It's the best live music queing service I've ever used.</div>
        <h3>DJ Snakes</h3>
      </div>-->
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        A product by <a href="https://gitlab.com/partylab" taget="_blank">PartyLab</a> © 2017
      </div>
    </footer>

  </div>
</template>

<script>
import { init } from 'ityped'

import 'opensans-npm-webfont'
import 'roboto-fontface'

export default {
  name: 'site',
  data () {
    return {
      showTyped: true,
      roomName: '',
      showCreateMsg: true,
      demoInfo: {
        create: {
          message: 'Know where to go?',
          link: 'Enter existing room',
          placeholder: ''
        },
        existing: {
          message: 'Want your own room?',
          link: 'Create a new room',
          placeholder: 'room-name'
        }
      }
    }
  },
  methods: {
    hideAndFocus () {
      document.querySelector('.input-link').focus()
    },
    toggleTyped (show) {
      this.showTyped = show !== undefined ? show : !this.showTyped
    },
    startParty () {
      this.roomName = this.roomName.toLowerCase()
      if (this.roomName === '') return
      if (/^[a-zA-Z0-9-]+$/.test(this.roomName)) {
        this.$router.push(`/${this.roomName}`)
      }
    }
  },
  computed: {
    demoState: function () {
      return this.showCreateMsg ? 'create' : 'existing'
    }
  },
  watch: {
    roomName: function (val) {
      this.toggleTyped(val === '')
    }
  },
  mounted () {
    init('.typed', {
      strings: [
        'my-awesome-party',
        'project-x',
        'club-coco-bongo',
        'good-vibes',
        'party-up',
        'what-ever-man',
        'dope-jam-funk'
      ],
      typeSpeed: 95,
      backSpeed: 55,
      startDelay: 500,
      backDelay: 1200,
      loop: true,
      showCursor: false
    })
  }
}
</script>

<style lang="scss" scoped>

.site {
  color: $white;
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.splash {
  background-image: radial-gradient(50% 100%, rgba(0,0,0,0.6) 50%, #000000 100%), url('./assets/img/queue-dj-splash.jpg');
  background-position: bottom;
  background-size: cover;
  width: 100vw;
}

.container {
  position: relative;
}

.main {
  .row {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.footer {
  background: $white;
  padding: 20px 10px;
  color: $dark-black;
}

.navbar {
  display: flex;
  align-items: center;
  height: 75px;
}

.logo, .logo-container {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: $x-large;
}

.menu {
  flex: 1 1 auto;
  margin: 0;
  text-align: right;
  list-style: none;
  font-size: $large;
  font-weight: 100;
  color: $white;
}

.menu-item {
  display: inline-block;
  padding: 10px;
}

.menu-link {
  color: $white;
  transition: color 0.2s ease-in;

  &:active, &:focus, &:visited {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.create-room {
  padding: 60px 10px 100px;
}

.tag {
  font-family: 'Helvetica';

  &-main {
    font-weight: 100;
    color: $white;
  }

  &-sub {
    color: $sand;
  }
}

.demo-box {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: $white;
  border-radius: 4px;
  padding: 25px;
  min-height: 250px;
  text-align: center;
  color: $dark-black;
  font-size: $large;
  box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.2);
}

.demo-text {
  font-weight: 600;
}

.demo-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.demo-info {
  font-size: $small;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  margin: 10px 5px;
  padding: 0 10px;
  border-radius: 4px;
  height: 40px;
  width: 200px;
  border: 1px solid $light-black;
}

.typed-wrapper {
  position: absolute;
  line-height: 40px;
  padding: 0 1px;
  top: 0;
  max-width: 180px;
  overflow: hidden;
}

.typed {
  width: 100%;
  line-height: 40px;
  color: $sand;
}

.input-link {
  background-color: transparent;
  border: none;
  height: 38px;
  width: 180px;
  left: 10px;
  padding: 0;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $sand;
  }
}

.party-btn {
  text-align: center;
  font-size: $medium;
  min-height: 40px;
  min-width: 150px;
  border-radius: 3px;
  border: 0;
  background: $orange;
  color: $white;
  text-transform: none;
  font-size: $medium;
  margin: $padding 0;

  &:hover {
    color: $white;
    text-decoration-line: none;
    background: rgba($orange, 0.9);
  }

  &:active {
    background: rgba($orange, 0.8);
  }
}

.how-step {
  text-align: center;

  i {
    font-size: 128px;
  }

  p {
    color: $sand;
    font-size: $medium;
  }
}

.dope-list {
  list-style: none;
  padding: 40px;

  & > li {
    position: relative;
    margin: 0 0 20px;
    font-size: $medium;
    font-weight: 100;

    &::before {
      background-color: $orange;
      border-radius: 50%;
      content: "";
      display: block;
      font-size: 25px;
      height: 9px;
      left: -18px;
      line-height: 30px;
      position: absolute;
      top: calc(1ex - 3px);
      width: 9px;
    }
  }
}

.iphone-demo {
  position: relative;
  margin: 30px auto 0;
  background-image: url('./assets/img/iphone-6.png');
  background-size: cover;
  width: 225px;
  height: 450px;

  &::after {
    content: '';
    position: absolute;
    background-image: url('./assets/img/demo.gif');
    background-size: cover;
    top: 66px;
    left: 23px;
    width: 183px;
    height: 324px;
  }
}

.quote {
  font-size: $x-large;
  color: $blue;
  max-width: 400px;
  margin: 40px auto;
  font-style: italic;
}

@media(max-width: $mobile) {
  .container {
    margin: 0 auto;
    padding: 0;
  }
  .navbar {
    left: 15px;
  }
  .menu {
    display: none;
  }
  .tag {
    display: none;
  }
  .input-wrapper {
    width: 160px;
  }
  .typed-wrapper,
  .input-link {
    max-width: 140px;
  }
}
</style>
