@import 'variables';

body {
  background: $black;
  font-family: 'Roboto', sans-serif;

  a {
    color: $grey;

    &:hover {
      color: $sand;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten( $light-black , 6% );
}

// ==== Framework ==== //
h1 {
  font-size: 36px;
}

h2 {
  font-size: $x-small;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: $margin-xs;
}

li {
  text-align: left;
}

ul {
  list-style: none;
}

.orange {
  color: $orange;

  &:hover {
    color: darken( $orange , 10% );
  }
}

.blue {
  color: $blue;

  &:hover {
    color: darken( $blue , 10% );
  }
}

.green {
  color: $green;

  &:hover {
    color: darken( $green , 10% );
  }
}

button {
  border-radius: 20px;
  border: none;
  color: $white;
  text-transform: uppercase;
  padding: $padding-xs $padding + 5px;
  background-color: transparent;
  border: 1px solid $white;
  letter-spacing: 1px;
  font-size: $x-small;
  outline: none;
  transition: transform 0.025s linear;

  &:hover {
    transform: scale(1.05);
    border-width: 1.5px;
    cursor: pointer;
  }
}

.button-dark {
  background: $green;
  color: $white;
  border: 1px solid $green;

  &:hover {
    background: lighten( $green, 10% );
  }
}

.button-light {
  background: none;
  color: $sand;
  border: 1px solid $sand;

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.section-title {
  text-transform: uppercase;
  color: $grey;
  letter-spacing: 1.25px;
  font-size: $x-small * 1.2;
  margin-bottom: $margin-sm;
}
