ul {
  li.sortable-ghost {
    max-height: 3px;
    padding: 0;
    overflow: hidden;

    &::before {
      background-color: $orange;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}