// Colors
$green: rgb(30, 215, 96);
$orange: #ff9800;
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$light-black: #383838;
$toolbar-bg: #282828;
$dark-black: #121212;
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(235, 235, 235);
$blue: #4688d7;
$red: #ff5855;
$drop-shadow: rgba(0, 0, 0, .2);
$light-border: rgba(255, 255, 255, .1);

// Spacing
$padding-xs: 5px;
$padding-sm: 10px;
$padding: 15px;
$padding-lg: 30px;
$padding-xl: 60px;
$margin-xs: 5px;
$margin-sm: 10px;
$margin: 15px;
$margin-lg: 30px;
$margin-xl: 60px;

// Borders
$border-radius: 15px;

// Font-sizes
$x-small: 11px;
$small: 14px;
$medium: 18px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;

// Layout
$header-height: 44px;
$content-height: calc(100vh - 105px);
$mobile-height: calc(100vh - 150px);

// Media Sizes
$mobile: 522px;
$tablet: 768px;
$desktop: 1200px;
